.contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.contact-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contact-link {
  font-size: 18px;
  font-family: "Verdana";
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.contact-link1 {
  font-size: 18px;
  font-family: "Verdana";
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.contact-link2 {
  font-size: 18px;
  font-family: "Verdana";
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.contact-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.contact-icon {
  width: 36px;
  height: 36px;
}
.contact-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.contact-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.contact-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-icon2 {
  width: 24px;
  height: 24px;
}
.contact-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-link3 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-link4 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-link5 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  box-shadow: 20px 20px 30px 10px #d4d4d4;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #f1f1f1;
}
.contact-hero-text-container {
  width: 645px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-heading2 {
  color: rgb(4, 4, 4);
  width: 628px;
  font-size: 70px;
  font-family: "Verdana";
  margin-bottom: var(--dl-space-space-halfunit);
}
.contact-text04 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-family: "Verdana";
  margin-bottom: var(--dl-space-space-fiveunits);
}
.contact-text05 {
  color: var(--dl-color-gray-black);
  font-size: 30px;
  font-family: "Verdana";
  margin-bottom: var(--dl-space-space-fiveunits);
}
.contact-link7 {
  text-decoration: underline;
}
.contact-text08 {
  color: var(--dl-color-gray-black);
  font-size: 18px;
  font-family: "Verdana";
  margin-bottom: var(--dl-space-space-fiveunits);
}
.contact-cta-btn-container {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.contact-image {
  width: 40%;
  opacity: 1;
  object-fit: cover;
}
.contact-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.contact-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.contact-social-links {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contact-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contact-icon4 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 991px) {
  .contact-heading {
    text-align: center;
  }
  .contact-heading1 {
    text-align: center;
  }
  .contact-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .contact-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .contact-heading2 {
    text-align: center;
  }
  .contact-text04 {
    text-align: center;
  }
  .contact-text05 {
    text-align: center;
  }
  .contact-text08 {
    text-align: center;
  }
  .contact-image {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .contact-navbar {
    position: relative;
  }
  .contact-links-container {
    display: none;
  }
  .contact-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .contact-icon {
    fill: var(--dl-color-gray-white);
  }
}
@media(max-width: 479px) {
  .contact-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .contact-hero-text-container {
    width: 100%;
  }
}
